---
import Layout from "@layouts/Layout.astro";
import Comments from "@components/blog/Comments.tsx";
import apis from "@scripts/apis";
import utils from "@scripts/utils";
import markdown from "@scripts/markdown";

export async function getStaticPaths() {
  const articles = await apis.getArticles(1, 10000);
  return articles.map((article) => ({
    params: { slug: article.slug },
  }));
}

const { slug } = Astro.params;

const article = await apis.getArticle(slug);
---

<Layout
  title={article.title}
  includeHeader={true}
  pathItems={[
    { title: "博客", url: "/blog" },
    { title: article.title, url: "" },
  ]}
  description={article.description ?? article.digest}
  keywords={article.keywords ?? []}
>
  <main>
    <section class="container mt-8 sm:mt-32">
      {
        article.headPic && (
          <a href={article.headPic} data-fancybox data-caption={article.title}>
            <img
              src={article.headPic}
              alt={article.title}
              title={article.title}
              class="mb-8 shadow-lg rounded-lg"
            />
          </a>
        )
      }
      <h1 class="leading-relaxed">{article.title}</h1>
      <p class="mt-4 text-secondary leading-relaxed">
        <i class="ri-calendar-line"></i>
        <span>{utils.getFullDate(article.created)}</span>
        {
          article.commentsNum > 0 && (
            <>
              <br />
              <i class="ri-discuss-line" />
              <span>共 {article.commentsNum} 条评论</span>
            </>
          )
        }
      </p>

      <hr class="my-8" />

      <article class="content content--slide-enter">
        <Fragment set:html={markdown.parseContent(article.text ?? "")} />
      </article>

      <hr class="my-8" />

      {article.allowComment && <Comments client:load articleId={article.id} />}
    </section>
  </main>
</Layout>

<script>
  import { Fancybox } from "@fancyapps/ui";
  document.addEventListener(
    "astro:page-load",
    () => {
      Fancybox.bind("[data-fancybox]", {});
    },
    { once: false },
  );
</script>
