---
import Layout from "@layouts/Layout.astro";
import Comments from "@components/blog/Comments.tsx";
import api from "@scripts/api";
import utils from "@scripts/utils";
import markdown from "@scripts/markdown";

export async function getStaticPaths() {
  const posts = await api.getTimeline(1, 10000);
  let ret: {
    params: { slug: string };
  }[] = posts.map((post) => {
    return {
      params: { slug: post.slug },
    };
  });
  return ret;
}

const { slug } = Astro.params;

const post = await api.getArticle(slug);
---

<Layout
  title={post.title}
  includeHeader={true}
  path={[
    { title: "博客", url: "/blog" },
    { title: post.title, url: "" },
  ]}
>
  <main>
    <section class="container mt-8 sm:mt-32">
      {
        post.headPic && (
          <a href={post.headPic} data-fancybox data-caption={post.title}>
            <img
              src={post.headPic}
              alt={post.title}
              title={post.title}
              class="mb-8"
            />
          </a>
        )
      }
      <h1 class="leading-relaxed">{post.title}</h1>
      <p class="mt-4 text-secondary leading-relaxed">
        <i class="ri-calendar-line"></i>
        <span>{utils.formatTimestamp(post.created)}</span>
        <!-- {
          post.commentsNum > 0 && (
            <>
              <br />
              <i class="ri-discuss-line" />
              <span>共 {post.commentsNum} 条评论</span>
            </>
          )
        } -->
      </p>

      <hr class="my-8" />

      <article class="content">
        <Fragment set:html={markdown.parseContent(post.text)} />
      </article>

      <hr class="my-8" />

      {post.allowComment && <Comments client:load slug={slug} />}
    </section>
  </main>
</Layout>

<style lang="scss">
  img {
    @apply shadow-lg rounded-lg;
  }
</style>

<script>
  import { Fancybox } from "@fancyapps/ui";
  document.addEventListener(
    "astro:page-load",
    () => {
      Fancybox.bind("[data-fancybox]", {});
    },
    { once: false }
  );
</script>
@scripts/markdown
