---
import Layout from "@layouts/Layout.astro";
import { api, utils } from "@scripts/functions";

const posts = await api.getTimeline(1, 10000);
const groupedPosts = groupByYear(posts);

interface GroupedPosts {
  [year: number]: ArticleInTimeline[];
}

function groupByYear(posts: ArticleInTimeline[]): GroupedPosts {
  function getYear(timestamp: number) {
    const date = new Date(timestamp);
    return date.getFullYear();
  }

  const ret: GroupedPosts = {};
  posts.forEach((post: ArticleInTimeline) => {
    const year = getYear(post.created);
    if (ret[year] === undefined) {
      ret[year] = [];
    }
    ret[year].push(post);
  });

  return ret;
}
---

<Layout
  title="文章归档"
  path={[
    { title: "博客", url: "/blog" },
    { title: "文章归档", url: "" },
  ]}
>
  <main>
    <section class="container mt-32">
      <h1 class="primary-color">文章归档</h1>
      <p class="mt-4 primary-color">共发布 {posts.length} 篇文章。</p>
      <hr class="my-8" />
      <article class="content">
        {
          Object.entries(groupedPosts)
            .sort((a, b) => parseInt(b[0]) - parseInt(a[0]))
            .map((entry) => (
              <>
                <h2>{entry[0]}</h2>
                <ul>
                  {entry[1].map(
                    (post: ArticleInTimeline) =>
                      post.title &&
                      post.title !== " " && (
                        <li>
                          {utils.formatMonthDay(post.created)}
                          <a
                            href={"/blog/" + post.slug}
                            class="no-underline-by-default"
                          >
                            {post.title}
                          </a>
                          {
                            //   post.commentsNum > 0 && (
                            //   <span class="tertiary-color text-sm">
                            //     <i class="ml-2 ri-message-2-line" />{" "}
                            //     {post.commentsNum}
                            //   </span>
                            // )
                          }
                        </li>
                      )
                  )}
                </ul>
              </>
            ))
        }
      </article>
    </section>
  </main>
</Layout>
