---
import CC from "@components/badges/CC.astro";
import NotByAI from "@components/badges/NotByAI.astro";
import Menu from "@components/menu/Menu.astro";
import Path from "@components/Path.astro";

interface Props {
  menuItems: MenuItem[];
  pathItems: PathItem[];
}

const { menuItems, pathItems } = Astro.props;
---

<footer class="footer">
  <div class="footer__row">
    <div class="m-2">
      <Path items={pathItems} />
    </div>
    <div class="m-2">
      <Menu showIcon={false} items={menuItems} />
    </div>
  </div>
  <hr class="footer__divide" />
  <div class="footer__row">
    <p class="m-2">
      &#169; 2017-2024 <a href="/" class="link">SkyWT</a> |
      <a href="/sitemap-index.xml" class="link">站点地图</a>
      |
      <a href="/friends" class="link">友情链接</a>
      |
      <a href="https://foreverblog.cn/go.html" target="_blank" class="link"
        >虫洞</a
      >
    </p>

    <p class="m-2">
      <a href="https://www.boyouquan.com/" target="_blank" class="mx-1">
        <img
          src="/boyouquan.png"
          alt="Boyouquan Badge"
          class="inline-block h-4 grayscale"
        />
      </a>
      <a href="https://www.foreverblog.cn/" target="_blank" class="mx-1">
        <img
          src="/forever_blog.png"
          alt="Forever Blog Badage"
          class="inline-block h-4 grayscale"
        />
      </a>
      <a href="https://blogscn.fun/" target="_blank" class="mx-1">
        <img
          src="/blogscn.png"
          alt="BLOGS·CN Badge"
          class="inline-block h-4 grayscale"
        />
      </a>
    </p>
  </div>
  <div class="footer__row">
    <p class="m-2">
      <a href="https://beian.miit.gov.cn/" target="_blank" class="link">
        浙 ICP 备 2021019606 号 - 1</a
      >
      |
      <a
        href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33080202000472"
        target="_blank"
        class="link before:content-[url('/mps.png')] before:align-middle"
      >
        浙公网安备 33080202000472 号</a
      >
    </p>
    <div class="m-2">
      <CC by={true} nc={true} />
      <NotByAI />
    </div>
  </div>
</footer>
