---
interface Props {
  name: string;
  desc?: string;
  slogan?: string;
  url: string;
  avatar: string;
}

const { name, desc, slogan, url, avatar } = Astro.props;

import LinkCard from "../LinkCard.astro";
---

<LinkCard url={url}>
  <img
    src={avatar}
    class="w-12 m-2 rounded-full"
    onerror="this.src='/visitor.png'"
  />
  <div class="m-2">
    <h5 class="primary-color">{name}</h5>
    {
      slogan && (
        <p class="mt-2 secondary-color font-bold text-sm">
          <i class="ri-chat-quote-line" />「{slogan}」
        </p>
      )
    }
    {desc && <p class="mt-1 secondary-color text-sm">{desc}</p>}
  </div>
</LinkCard>
