---
import LinkCard from "@components/LinkCard.astro";

interface Props {
  name: string;
  desc?: string;
  slogan?: string;
  url: string;
  avatar: string;
}

const { name, desc, slogan, url, avatar } = Astro.props;
---

<LinkCard url={url}>
  <img
    src={avatar}
    class="w-12 rounded-full"
    onerror="this.src='/visitor.png'"
  />
  <div class="ml-4">
    <h5>{name}</h5>
    {
      slogan && (
        <p class="mt-2 text-secondary font-bold text-sm">
          <i class="ri-chat-quote-line" />「{slogan}」
        </p>
      )
    }
    {desc && <p class="mt-1 text-secondary text-sm">{desc}</p>}
  </div>
</LinkCard>
