---
import ServiceCard from "./ServiceCard.astro";

import yml from "./config.yml";

interface ServiceType {
  name: string;
  services: Service[];
}

interface Service {
  name: string;
  app: string;
  url: string;
  method: string;
  status?: string;
}
---

{
  yml.types.map((type: ServiceType) => (
    <div class="mt-16">
      <h3>{type.name}</h3>
      <ul class="flex flex-wrap mt-4">
        {type.services.map((service: Service) => (
          <ServiceCard
            name={service.name}
            app={service.app}
            url={service.url}
            method={service.method}
            status={service.status}
          />
        ))}
      </ul>
    </div>
  ))
}
