---
import { markdown } from "@scripts/functions";
interface Props {
  posts: ArticleInTimeline[];
}

const { posts } = Astro.props;
---

{
  posts.map((post) => (
    <>
      <article class="content">
        {post.headPic && (
          <a href={post.headPic} data-fancybox data-caption={post.title}>
            <img src={post.headPic} alt={post.title} title={post.title} />
          </a>
        )}
        <a href={"/blog/" + post.slug} class="no-underline-by-default">
          <h1>{post.title}</h1>
        </a>
        <div class="summary">
          <Fragment set:html={markdown.parseContentSimple(post.digest)} />
        </div>
        <a href={"/blog/" + post.slug}>阅读更多</a>
      </article>
      <hr class="my-8" />
    </>
  ))
}

<style lang="scss">
  // typography 有一点不好：样式不能直接覆盖
  // 因为其默认设置的样式优先级比传入 tailwind 样式优先级高
  // 只能以这种丑陋的方式应用样式
  h1 {
    @apply leading-relaxed;
  }
</style>

<script>
  import { Fancybox } from "@fancyapps/ui";
  document.addEventListener(
    "astro:page-load",
    () => {
      Fancybox.bind("[data-fancybox]", {});
    },
    { once: false }
  );
</script>
