---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import "@fontsource/noto-serif-sc/200.css";
import "@fontsource/noto-serif-sc/300.css";
import "@fontsource/noto-serif-sc/400.css";
import "@fontsource/noto-serif-sc/500.css";
import "@fontsource/noto-serif-sc/600.css";
import "@fontsource/noto-serif-sc/700.css";
import "@fontsource/noto-serif-sc/900.css";
import "remixicon/fonts/remixicon.css";
import "highlight.js/styles/github-dark.css";
import "@fancyapps/ui/dist/fancybox/fancybox.css";
import "katex/dist/katex.css";

import "@styles/global.scss";

import { ViewTransitions } from "astro:transitions";
import menu_yml from "@configs/menu.yml";

interface Props {
  title: string;
  includeHeader?: boolean;
  path?: PathItem[];
}

const { title, includeHeader = true, path = [] } = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="博客文章 RSS 订阅"
      href={`${Astro.site}rss.xml`}
    />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <script is:inline>
      function addMatomo() {
        var _paq = (window._paq = window._paq || []);
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);
        (function () {
          var u = "//analytics.skywt.cn/";
          _paq.push(["setTrackerUrl", u + "matomo.php"]);
          _paq.push(["setSiteId", "1"]);
          var d = document,
            g = d.createElement("script"),
            s = d.getElementsByTagName("script")[0];
          g.async = true;
          g.src = u + "matomo.js";
          s.parentNode.insertBefore(g, s);
        })();
      }

      document.addEventListener(
        "astro:page-load",
        () => {
          addMatomo();
        },
        { once: false }
      );
    </script>

    <ViewTransitions />
  </head>
  <body>
    {includeHeader && <Header items={menu_yml.items} path={path} />}
    <slot />
    <Footer items={menu_yml.items} path={path} />
  </body>
</html>
