---
import Layout from "./Layout.astro";
import Comments from "../components/blog/Comments.tsx";

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  includeHeader={true}
  pathItems={[{ title: frontmatter.title, url: "" }]}
  description={frontmatter.description}
  keywords={frontmatter.keywords.split(",")}
>
  <main>
    <section class="container mt-8 sm:mt-32">
      <h1 class="primary-color">{frontmatter.title}</h1>
      <hr class="my-8" />
      <article class="content">
        <slot />
      </article>
      {
        frontmatter.id && (
          <>
            <hr class="my-8" />
            <Comments client:load articleId={frontmatter.id} />
          </>
        )
      }
    </section>
  </main>
</Layout>
